// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Fitness Planner
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/fitness-planner.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | The idea behind this platform is simple: there are an endless number of workouts out there, and keeping track of the ones you love is difficult!
                            p.mb-4
                                | By utilizing this platform, you will be able to add your favorite workouts, add exercises to them, and, best of all, keep them in one place!
                            a.button.btn.btn-primary(href='https://github.com/anthonybrockett/fitness-planner' target='_blank')
                                i.fab.fa-fw.fa-github
                                | View on GitHub
                            a.button.btn.btn-primary(href='https://fitness-planner-621.herokuapp.com/' target='_blank') 
                                | Link to Deployed Site
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window