// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 The Ledger
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/the-ledger.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | There is no magic behind the idea of this website: it is a simple, compact tool to log and keep track of income and expenses. It is so easy to fall into the "out-of-sight, out-of-mind" mindset when it comes to finances, but this application will attempt to address much of the heavy lifting.
                            a.button.btn.btn-primary(href='https://github.com/anthonybrockett/the-ledger' target='_blank')
                                i.fab.fa-fw.fa-github
                                | View on GitHub
                            a.button.btn.btn-primary(href='https://the-ledger-6-21-2022.herokuapp.com/' target='_blank')
                                | Link to Deployed Site
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window