// Portfolio Modal 4
#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal4', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Blackjack
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/blackjack.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Fun Fact: The origin of the name "Blackjack" is commonly traced to casinos that were present in America's infancy that hosted a bonus that would pay out if a player had an Ace of Spades and a "Black" Jack (Jack of Clubs or Jack of Spades.)
                            p.mb-4
                                | Blackjack is one of the most well-known card games in the world, and it is likely due to the fact that when the rules are reduced to a singular idea it is simple: make 21.
                            a.button.btn.btn-primary(href='https://github.com/anthonybrockett/blackjack-project-1')
                                i.fab.fa-fw.fa-github
                                | View on GitHub
                            a.button.btn.btn-primary(href='https://anthonybrockett.github.io/blackjack-project-1/')
                                | Link to Deployed Site
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window